.search-block {
    min-width: 300px;
    width: max-content;
    display: flex;
    align-items: center;
    position: relative;
}
.search-block>input {
    flex: 1;
    height: 30px;
    box-sizing: border-box;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid silver;
    font-size: 16px;
    outline: none;
}
.search-block>input:focus {
    border-color: rgb(243, 231, 5);
}
.search-block>button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    /* width: 24px; */
    height: 20px;
    display: flex;
    justify-content: flex-end;
}
.search-block svg {
    height: 100%;
    fill: silver;
    cursor: pointer;
}
.search-block svg:hover {
    fill: rgb(243, 231, 5);
}

.search-result {
    position: absolute;
    top: 36px;
    left: 12px;
    font-size: 12px;
}
